<!--
=========================================================
* Material Kit 2 PRO - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit-pro
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Test</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container-fluid text-center">
    <h1>Welcome to my application!</h1>
    <a class="h2 text-primary text-decoration-none" th:href="@{/users}">User Manager</a>
</div>
</body>

</html>