<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${pageTitle}]]</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
</head>
<body>
<div id="wrapper">
    <div th:replace="layout/_layout :: header"></div>

    <div id="content-wrapper" class="d-flex flex-column card container-fluid card">
        <div class="card-header">
            <h1>[[${pageTitle}]]</h1>
            <a class="h4 text-primary text-decoration-none" th:href="@{/danh-muc}">Back To List</a>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <form th:action="@{/danh-muc/save}" method="post" th:object="${category}" enctype="multipart/form-data">
                    <div class="row d-flex justify-content-center">
                        <div class="mb-3 col-8">
                            <label for="name" class="form-label"> Tên </label>
                            <input type="text" th:field="*{name}" class="form-control col-12" id="name" >
                        </div>
                        <div class="mb-3 col-8">
                            <label for="display" class="form-label"> Thứ tự ưu tiên </label>
                            <input type="number" th:field="*{display_order}" class="form-control col-12" id="display" >
                        </div>
                        <div class="mb-3 col-8">
                            <label for="parent" class="form-label"> Danh mục cha </label>
                            <input type="number" th:field="*{parent_id}" class="form-control col-12" id="parent" >
                        </div>
                        <div class="mb-3 col-8">
                            <label for="seo" class="form-label"> Keyword tìm kiếm </label>
                            <input type="text" th:field="*{seo_keyword}" class="form-control col-12" id="seo" >
                        </div>
                        <div class="mb-3 col-8 form-check">
                            <input type="checkbox" th:field="*{status}" class="form-check-input col-8" id="status">
                            <label class="form-check-label"  for="status"> Trạng thái danh mục </label>
                        </div>
                        <div class="mb-3 col-8 form-check">
                            <input type="checkbox" th:field="*{status}" class="form-check-input col-8" id="show">
                            <label class="form-check-label"  for="show"> Hiển thị trang chủ </label>
                        </div>
                        <div class="text-center col-8 m-2">
                            <button class="btn btn-primary" style="width: 40%" type="submit">Save</button>
                            <button class="btn btn-secondary" style="width: 40%" type="button" onclick="cancelForm()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
                <!--            <div class="col-md-5">-->
                <!--                <form th:action="@{/nguoi-dung/save}" method="post" th:object="${user}" enctype="multipart/form-data">-->
                <!--                    <input type="hidden" th:field="*{id}"/>-->

                <!--                    <div class="border border-secondary rounded p-3">-->
                <!--                        <div class="form-group row">-->
                <!--                            <div class="row form-group">-->
                <!--                                <label class="col-sm-4 col-form-label">Tài khoản: </label>-->
                <!--                                <div class="col-sm-7">-->
                <!--                                    <input type="text" th:field="*{username}" class="form-control my-2" required/>-->
                <!--                                </div>-->
                <!--                            </div>-->

                <!--                            <div class="row form-group">-->
                <!--                                <label class="col-sm-4 col-form-label"> Mật khẩu: </label>-->
                <!--                                <div class="col-sm-7">-->
                <!--                                    <input type="text" th:field="*{password}" class="form-control my-2" required/>-->
                <!--                                </div>-->
                <!--                            </div>-->

                <!--                            <div class="row form-group">-->
                <!--                                <label class="col-sm-4 col-form-label">Họ tên: </label>-->
                <!--                                <div class="col-sm-7">-->
                <!--                                    <input type="text" th:field="*{name}" class="form-control my-2" required/>-->
                <!--                                </div>-->
                <!--                            </div>-->

                <!--                            <div class="row form-group">-->
                <!--                                <label class="col-sm-4 col-form-label">Email: </label>-->
                <!--                                <div class="col-sm-7">-->
                <!--                                    <input type="email" th:field="*{email}" class="form-control my-2" required/>-->
                <!--                                </div>-->
                <!--                            </div>-->

                <!--                            <div class="row form-group">-->
                <!--                                <label class="col-sm-4 col-form-label">Ảnh đại diện: </label>-->
                <!--                                <div class="col-sm-7">-->
                <!--                                    <input type="text" th:field="*{avatar}" class="form-control my-2" required/>-->
                <!--                                </div>-->
                <!--                            </div>-->

                <!--                            <div class="row form-group">-->
                <!--                                <label class="col-sm-4 col-form-label">Trạng thái: </label>-->
                <!--                                <div class="col-sm-7">-->
                <!--                                    <input type="checkbox" th:field="*{status}"/>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="text-center m-2">-->
                <!--                            <button class="btn btn-primary" style="width: 40%" type="submit">Save</button>-->
                <!--                            <button class="btn btn-secondary" style="width: 40%" type="button" onclick="cancelForm()">-->
                <!--                                Cancel-->
                <!--                            </button>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->

                <!--            </div>-->

            </div>
        </div>


        <div th:replace="layout/_layout :: footer"></div>
    </div>
</div>



<!-- Bootstrap JS -->
<script th:href="@{/vendor/jquery/jquery.js}"></script>
<script th:href="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:href="@{/vendor/jquery-easing/jquery.easing.js}"></script>
</body>
</html>