<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách danh mục</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.css" type="text/css">
    <link rel="stylesheet" href="/css/sb-admin-2.css">
</head>
<body>
<div id="wrapper">
    <div th:replace="layout/_layout :: header"></div>

    <div class="container-fluid mt-2">

        <a class="btn btn-primary my-2" th:href="@{/danh-muc/them-moi}"> Thêm mới danh mục </a>

        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Danh sách danh mục</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th> Tên </th>
                            <th> Meta Title </th>
                            <th> Ngày tạo </th>
                            <th> Trạng thái </th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="cate : ${listCategory}">
                            <tr>
                                <td>[[${cate.name}]]</td>
                                <td>[[${cate.meta_title}]]</td>
                                <td>[[${cate.created_at}]]</td>
                                <td th:text="${cate.status ? 'Actived' : 'Deactived'}"></td>
                                <td>
                                    <a class="text-decoration-none text-info" th:href="@{'/danh-muc/chinh-sua/' + ${cate.id}}">
                                        Update
                                    </a>
                                    |
                                    <a class="text-decoration-none text-info delete-btn" th:href="@{'/danh-muc/xoa/' + ${cate.id}}" data-toggle="modal" data-target="#confirmModal">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa danh mục này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-danger" id="confirmDelete">Delete</a>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.js" type="text/javascript"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>
<script src="/vendor/jquery-easing/jquery.easing.js" type="text/javascript"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.delete-btn').on('click', function(e) {
            e.preventDefault();
            var href = $(this).attr('href');
            $('#confirmDelete').attr('href', href);
        });
    });
</script>
</body>
</html>