<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="MrKatsu, gatapchoi, gavl, sekiro">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Tiêu đề của trang"/>
    <meta property="og:description" content="Mô tả ngắn gọn về nội dung trang"/>
    <meta property="og:image" content="URL của hình ảnh đại diện cho trang"/>
    <meta property="og:url" content="URL của trang"/>


    <title>Sekiro: Shadows Die Twice</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/style.css" type="text/css">
    <link href="/client/plugin/styles/hybrid.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/client/dist/ekko-lightbox.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<!--Phần navbar trên điện thoại-->
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__user"><span>Login</span></div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/">Trang chủ</a></li>
            <li><a href="/blogs.html">Blog</a></li>
            <li><a href="./#">Liên hệ</a></li>
            <li><a href="./#">Ứng dụng</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
</div>
<!--Kết thúc navbar trên điện thoại-->

<!-- Navbar trên màn hình PC -->
<header class="header ">
    <div class="container nav-bar-style">
        <div class="row mx-3">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="/client/img/logo.png" style="width: 150px" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu text-center">
                    <ul>
                        <li class="active"><a href="./index.html"> Trang chủ </a></li>
                        <li><a href="./blogs.html"> Blog </a></li>
                        <li><a href="./#"> Liên hệ </a></li>
                        <li><a href="./#"> Ứng dụng </a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__function">
                    <ul>
                        <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i> <span>99+</span></a></li>
                    </ul>

                    <!--                    <div class="header__cart__price">-->
                    <!--                                            <span>-->
                    <!--                                                <a href="#">-->
                    <!--                                                    <i class="fa fa-user" aria-hidden="true"></i>-->
                    <!--                                                </a>-->
                    <!--                                            </span>-->
                    <!--                    </div>-->


                    <div class="header__user dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/client/img/demo/m.jpg" alt=""></a>
                        <div class="dropdown-menu dropdown__header__cus shadow">
                            <div class="image-dropdown">
                                <img src="/client/img/demo/m.jpg" alt="">
                            </div>

                            <p class="text-center text-info h6">MrKatsu</p>

                            <a class="dropdown-item" href="profile.html"> Trang cá nhân </a>
                            <a class="dropdown-item" href="#"> Đổi mật khẩu </a>
                            <a class="dropdown-item" href="#"> Trang quản trị </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Đăng xuất </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Kết thúc Navbar trên màn hình PC -->

<!-- Tìm kiếm Begin -->
<section class="container ">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-12">
            <div class="input-group mb-3 my-2">
                <input type="text" class="form-control text-light input-search p-4"
                       placeholder="Nhập để tìm kiếm..." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn bg-gradient-success" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Tìm kiếm End -->

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <!--        Tiêu đề-->
            <h3 class="font-weight-bold text-info my-3">Sekiro: Shadows Die Twice </h3>
            <!--       Nội dung-->
            <div class="content-blog">
                    <img th:src="@{'/uploads/' + ${content.image}}" alt="" style="border-top-left-radius: 10px; border-top-right-radius: 10px">

                <div class="content-detail">
                    <div th:utext="${content.detail}"></div>
                </div>

                    <hr class="p-0">
                    <div class="mt-3 px-3">
                        <span class="text-light ">Tags:</span>
                        <div class="tags mt-1">
                            <a href="#"><span class="badge badge-green mx-1">HTML</span></a>
                            <a href="#"><span class="badge badge-green mx-1">Bootstrap</span></a>
                            <a href="#"><span class="badge badge-green mx-1">HTML</span></a>
                            <a href="#"><span class="badge badge-green mx-1">HTML</span></a>
                        </div>
                    </div>
                </div>


            </div>

    </div>
</div>

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright__text">
                    <p class="text-light">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart"
                                                                            aria-hidden="true"></i> by <a
                            href="https://github.com/Mrk4tsu" target="_blank" class="text-info">MrKatsu</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
                <div class="footer__copyright__payment"><img src="/client/img/payment-item.png" alt=""></div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/client/js/jquery-3.3.1.min.js"></script>
<script src="/client/js/bootstrap.bundle.js"></script>
<script src="/client/js/bootstrap.min.js"></script>
<script src="/client/js/jquery.nice-select.min.js"></script>
<script src="/client/js/jquery-ui.min.js"></script>
<script src="/client/js/jquery.slicknav.js"></script>
<script src="/client/js/mixitup.min.js"></script>
<script src="/client/js/owl.carousel.min.js"></script>
<script src="/client/js/main.js"></script>
<script src="/client/plugin/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>